.cardPreguntas{
    width: 700px;
    height: 500px;
}

.cardaudio{
    width: 400px;
    height: 500px;
}


.cardpicture{
    width: 400px;
    height: 500px;
}


#boton1 { background-color: red; }
#boton2 { background-color: green; }
#boton3 { background-color: blue; }

td img {
    width: 50%;
    height: 50%;
    display: block;
}
